@model IEnumerable<CarHomeModel>
@inject IAgentService agents
@{
    ViewData["Title"] = "Home Page";
    var cars = Model.ToList();
}

@if (Model.Count() == 0)
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for renting cars!</h1>
        <p class="lead">
            There are no cars in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated && (await this.agents.ExistById(this.User.Id())))
            {
                <a asp-controller="Car" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Car</a>
            }
        </p>
    </div>

}

<div class="mb-5"></div>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < cars.Count; i++)
        {
            var car = cars[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)" data-bs-interval="10000">
                <img src="@car.ImageUrl" class="d-flex justify-content-center" alt="@car.Title" style="margin:auto; width:auto; height:600px; border-radius: 25px;">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0,0,0,.5); color: #fff; width:500px; height:auto; margin:auto; border-radius:25px;">
                    <h5 style="top:auto; right:auto">@car.Title</h5>
                    <p>@car.Address</p>
                    <a class="btn btn-outline-light" asp-controller="Car" asp-action="Details"
                   asp-route-id="@car.Id"> @car.Title</a>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mb-5"></div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>
<div class="mt-4 p-5 bg-light d-none" id="statistics" style="background-color: rgba(0,0,0,.5); color: black; border-radius: 25px;">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total-cars"></h2>
        <h2 class="col-md-6 text-center" id="total-car-rents"></h2>
        <h2 class="col-md-6 text-center" id="total-transports"></h2>
        <h2 class="col-md-6 text-center" id="total-transport-rents"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('https://localhost:7294/api/StatisticsApi', (data) => {
                $('#total-cars').text(data.totalCars + " Cars");
                $('#total-car-rents').text(data.totalCarRents + " Car rents");
                $('#total-transports').text(data.totalTransports + " Transports");
                $('#total-transport-rents').text(data.totalTransportRents + " Transport rents");
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}

